{% extends 'cashier/base_cashier.html' %}
{% load static %}

{% block content %}
<div class="row clearfix">
	<div class="text"> <h1>List of all existing exams</h1> </div>
    
</div>
<form class="search-form" method ="post" action="exam_list">

    {%csrf_token%}
            <div class="row ml-2 ">
                
                <div class="col-lg-5 col-md-6 col-sm-12 p-0 ml-3">
                    <input type="text" name="username" value="{{select_name}}" placeholder="Reason" class="form-control" required>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                    <button class="btn btn-base" type="submit">
                        <svg class="feather feather-search" fill="none" height="24"
                             stroke="currentColor"
                             stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                             viewBox="0 0 24 24"
                             width="24" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" x2="16.65" y1="21" y2="16.65"></line>
                        </svg>
                    </button>
                </div>
            </div>
    </form>
<br>
<div class="body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th>N°</th>
                <th>Patient identifier</th>
                <th>Date</th>
                <th>Time</th>
                <th>Doctor</th>
                <th>Status</th>          
            </thead>
            <tbody>
                {%for exam in list%}
                <tr>
                    <td> </td>
                    <td>{{exam.idPatient}}</td>
                    <td>{{exam.addDate}}</td>
                    <td>{{exam.addTime}}</td>
                    <td>{{exam.idMedicalStaff}}</td>
                    <td>{{exam.examStatus}}</td>
                    
                </tr>
                {%endfor%}           
            </tbody>
        </table>
    </div>
</div>
<span class="page" style="text-align:center;">
        {% if list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ list.number }} of {{ list.paginator.num_pages }}.
        </span>

        {% if list.has_next %}
            <a href="?page={{ list.next_page_number }}&&name={{select_name}}">next</a>
            <a href="?page={{ list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

{%endblock content%}
