{%load static %}
<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" type="text/css">
<link rel="stylesheet" href="{% static 'assets/plugins/morrisjs/morris.css' %}"/>
<!-- Custom Css -->
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>

<h1>POLYCLINIC FULTANG</h1>
<div style="text-align: right;">
<h2>Bill N°: {{bill.id}}</h2>
<h2>Date : {{bill.date}} </h2>
<h2>Customer Name : {{bill.customer}} </h2>
<h2>Total Items : {{bill.totalItems}} </h2>
<h2>Total Amount : {{bill.amount}} </h2>
</div>

<div  style="margin-left:50px;margin-right:50px">
    <table class="table table-striped">
        <thead>
            <th></th>
            <th>designation</th>
            <th>qte</th>
            <th>pu</th>
            <th>pt</th>
        </thead>
        <tbody>
            {%for item in list%}
            <tr>
                <td></td>
                <td>{{item.designation}}</td> 
                <td>{{item.quantity}}</td> 
                <td>{{item.unitP}}</td>
                <td>{{item.totalP}}</td>
                
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <button id = "print" onclick="window.print()">Print Bill</button>
</div>   